@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
  font-family: 'Poppins', 'sans serif';
  display: flex;
}

.gray {
  color: #918E9B;
}

nav {
  box-shadow: 0px 2.98256px 7.4564px rgba(0, 0, 0, 0.1);
  padding: 22px 30px;
}

.intro {
  padding: 20px;
  display: flex;
  flex-direction: column;
}
.intro > img {
  max-width: 400px;
  align-self: center;
}
.title {
  margin-top: 16px;
  margin-bottom: 16px;
}
.description {
  margin-top: 0;
}

.my-card {
  padding: 24px;
}
.my-card-body {
  margin-top: 5px;
}
.my-card-muted, .my-card-des {
  line-height: 24px;
}
.my-card-img > img {
  width: 176px;
  height: 235px;
  border-radius: 9px;
}
.rating {
  font-size: 12px;
}
.star {
  width: 12px;
  height: 12px;
  margin-bottom: 2px;
}
.my-card-des {
  font-size: 12px;
}

.contacts {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 40px;
}

.contact-card {
  flex-basis: 225px;
  box-shadow: 1px 1px 8px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  padding: 13px;
  padding-bottom: 20px;
  background-color: white;
}

.contact-card > img {
  width: 100%;
  height: auto;
  align-self: center;
  border-radius: 5px;
  object-fit: cover;
}

.contact-card > h3 {
  font-weight: 700;
  font-size: 18px;
}

.info-group {
  display: flex;
  align-items: center;
}

.info-group > img {
  height: 11px;
  margin-right: 8px;
}

.info-group > p {
  margin-block: 3px;
  font-size: 12px;
  color: #2B283A;
}